button.author__btn
	a.buttom-text Авторизоваться
.author__wrapper	
	.author
		.author__avatar
			.author__avatar-pic
				img(src="source/images/ava.jpg" class="user__avatar-img" alt="")
		.author__info
			.author__info-name 
				h1 Yulia Betskaya
			.author__info-custom
				h3 Личный сайт веб-разработчика
	.icons
	//прикрепить переменную icons
	.navigation__author
		li.navigation__author-item
						a.navigation__author-link(href="#") Мои работы
						a.navigation__author-link(href="#") Обо мне
						a.navigation__author-link(href="#") Блог

