.container__blog
      aside.sidebar
        nav.navigation__blog
          a.navigation__blog-link(href='#article_3') Третья статья
          a.navigation__blog-link(href='#article_2') Вторая статья
          a.navigation__blog-link(href='#article_1') Первая статья
      section.articles
        ul.articles__list
          li.articles__item
            a(name='article_3')
              h2.blog__title Третья статья
              time.blog__date 17 декабря 2016
            article.article
              a(name='article_3')
                p.blog__text
                  | Многочисленные научные исследования свидетельствуют о высоком – нередко более высоком, чем в западноевропейских государствах – культурном и духовном уровне развития тогдашней Руси. Ее вписанность в общеевропейский контекст признается многими видными западными мыслителями. Но при этом русский народ, имея собственную культурную матрицу, свою духовность, никогда не сливался с Западом. В этой связи уместно вспомнить трагическую и во многом переломную для нашего народа эпоху монгольского нашествия. Александр Пушкин писал: «Варвары не осмелились оставить у себя в тылу порабощенную Русь и возвратились в степи своего Востока. Христианское просвещение было спасено истерзанной и издыхающей Россией». Хорошо известно и альтернативное мнение Льва Николаевича Гумилева о том, что монгольское нашествие способствовало формированию обновленного русского этноса, что Великая степь дала нам дополнительный импульс в развитии.
          li.articles__item
            a(name='article_2')
              h2.blog__title Вторая статья
              time.blog__date 17 декабря 2016
            article.article
              a(name='article_2')
                p.blog__text
                  | Исторические факты не подтверждают расхожий тезис о том, что Россия, дескать, всегда находилась на европейских задворках, была аутсайдером европейской политики. Напомню в этой связи о том, что крещение Руси в 988 г. – кстати, 1025 лет этого события также отмечалось недавно, – способствовало рывку в развитии государственных институтов, социальных отношений и культуры, превращению Киевской Руси в полноправного члена тогдашнего европейского сообщества. В то время династические браки являлись лучшим индикатором роли страны в системе международных отношений, и сам за себя говорит тот факт, что в XI столетии сразу три дочери великого князя Ярослава Мудрого стали королевами соответственно Норвегии и Дании, Венгрии, Франции, его сестра – женой польского короля, а внучка вышла замуж за германского императора.
          li.articles__item
            a(name='article_1')
              h2.blog__title Первая статья
              time.blog__date 17 декабря 2016
              article.article
                a(name='article_1')
                  p.blog__text
                  | Давно замечено, что продуманная политика не может существовать в отрыве от исторической перспективы. Обращение к истории тем более оправданно, что в последний период отмечался целый ряд юбилейных дат. В прошлом году мы праздновали семидесятилетие Великой победы, в позапрошлом – вспоминали о начале сто лет назад Первой мировой войны. В 2012 г. отмечалось двухсотлетие Бородинской битвы, а также четырехсотлетие освобождения Москвы от польских захватчиков. Если вдуматься, эти вехи недвусмысленно свидетельствуют об особой роли России в европейской и мировой истории.