//.triangle__blog
//	.triangle__left
//	.triangle__right
.maincontainer__blog
	.container__blog
		aside.sidebar
			nav.navigation__blog
				a.navigation__blog-link(href='#blog__title') Мои работы
				a.navigation__blog-link(href='#') Обо мне
				a.navigation__blog-link(href='#') Блог
				a.navigation__blog-link(href='#') Авторизация
		.blog
			.article
				h2.blog__title Самое важное в CSS
				p.blog__date 25 ноября 2016 года
				.blog__text
					p Самое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое важное в CSSСамое 
			.article
				h2.blog__title Что мне снег Что мне зной
				p.blog__date 25 ноября 2016 года
				.blog__text
					p Что мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне знойЧто мне снег Что мне зной