footer
	.container
		.navigation
			ul.navigation-list
				li.navigation-item
					a.navigation-link(href="works.html") Мои работы
				li.navigation-item
					a.navigation-link(href="index.html") Обо мне
				li.navigation-item
					a.navigation-link(href="blog.html") Блог
				li.navigation-item
					a.navigation-link(href="author.html") Авторизация	
		.icons 
			include ../common/_socials 
		.footer
			.footer__text
				.footer__text-left 
					p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
				.footer__text-right 
					p © Юлия Бецкая | создано с любовью в LoftSchool | 2016 			