header.header
        .container
          .header__items
            .header__left
              include ../common/_socials
            .header__right
              .menu__close
                include ../common/_menu
          include ../common/_user
          .arrow__down
            a(href='#')
              img(src='assets/css/sprite/arrow_down.svg', alt='')
          //.triangle
          //  .triangle__left
          //  .triangle__right