header.header
          .container
            .header__items
              .header__left
                include ../common/_socials
              .header__right
                .menu__close
                  a.menu__burger(href='menu.html')
                    img.socials__icon-hamburger(src='assets/css/sprite/hamburger.svg', alt='')
            include ../common/_user
            .arrow__down
              a(href='about.html')
                img(src='assets/css/sprite/arrow_down.svg', alt='')
          .triangle
            .triangle__left
            .triangle__right