.menu
	ul.menu__list
		li.menu__items
			a.menu__item(href='homepage.html') ОБО МНЕ
		li.menu__items
			a.menu__item(href='works.html') МОИ РАБОТЫ
		li.menu__items
			a.menu__item(href='blog.html') БЛОГ