#toggle.button_container
  span.top
  span.middle
  span.bottom
#overlay.overlay
  nav.overlay-menu
    ul
      li
        a(href='works.html') МОИ РАБОТЫ
      li
        a(href='index.html') ОБО МНЕ
      li
        a(href='blog.html') БЛОГ
      li
        a(href='author.html') АВТОРИЗАЦИЯ