.parallax
	.parallax__layer.parallax__layer1
		img(src='assets/css/img/Layer_10.png')
	.parallax__layer.parallax__layer2
		img(src='assets/css/img/Layer_9.png')
	.parallax__layer.parallax__layer3
		img(src='assets/css/img/Layer_8.png')
	.parallax__layer.parallax__layer4
		img(src='assets/css/img/Layer_7.png')
	.parallax__layer.parallax__layer5
		img(src='assets/css/img/Layer_6.png')
	.parallax__layer.parallax__layer6
		img(src='assets/css/img/Layer_5.png')
	.parallax__layer.parallax__layer7
		img(src='assets/css/img/Layer_4.png')
	.parallax__layer.parallax__layer8
		img(src='assets/css/img/Layer_3.png')
	.parallax__layer.parallax__layer9
		img(src='assets/css/img/Layer_2.png')
	.parallax__layer.parallax__layer10
		img(src='assets/css/img/Layer_1.png')