.socials
  ul.socials__list-header
    li.socials__item
      a.socials__link(href='https://vk.com/kbicbka')
        img.socials__icon-vk(src='assets/css/sprite/vk.svg', alt='')
    li.socials__item
      a.socials__link(href='https://github.com/yuliabeckaya')
        img.socials__icon-github(src='assets/css/sprite/github.svg', alt='')
    li.socials__item
      a.socials__link(href='https://www.linkedin.com/russkiy')
        img.socials__icon-in(src='assets/css/sprite/in.svg', alt='')