.user
  .user__avatar
    .user__avatar-pic
       img.user__avatar-img(src='assets/css/img/ava.jpg', alt='')
  .user__info
    .user__info-name Yulia Betskaya
    .user__info-custom
      p Личный сайт веб-разработчика