.container
	.title__works
		.wrap-title1
			.title1 МОИ РАБОТЫ
	.content__works
		.content__works-left
			.content__works-info
				.content__works-info-title 
					.wrap-title2
						.title2 Сайт школы онлайн образования
				.content__works-info-skills 
					p HTML, CSS, JavaScript
				.content__works-info-btn
					a.btn(href='#')
						img(src='assets/css/sprite/link.svg', alt='')
						p.user__info-custom Посмотреть сайт
		.content__works-right
			.content__works-right-display
				img.content__works-right-display-img(src='assets/css/img/work-1.png' alt='')
			.content__works-right-controls
				a.content__works-right-controls-item(href='#')
					img.work-4(src='assets/css/img/work-4.png' alt='')
				a.content__works-right-controls-item(href='#')
					img.work-3(src='assets/css/img/work-3.png' alt='')
				a.content__works-right-controls-item(href='#')
					img.work-2(src='assets/css/img/work-2.png' alt='')
		