
.about{
  display: flex;
  flex-flow: row wrap;
  padding-top: 20px;
}

.about__left, .about__right{
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  
  @include desktop {
    width: 50%;
  }

  @include tablets {
    width: 100%;
    margin-bottom: 50px;
    flex-flow: column wrap;
  }
    
}

.full__content__about__me{
    padding: 10px;
}

.about__me, .about__item{
  width: 50%;
  text-align: center;
  
  @include desktop {
    width: 100%;

  }
}

.about__me-text{
  text-align: left;
  padding: 20px;
}
.about__me-text1{
	margin: 20px 0 20px 0;

}

.about__me-wrap{
  max-width: 100%;

  @include desktop {
    margin-top: -30px;
    margin-bottom: 50px;

  }

}
 
.about__me-title{
 margin-top: -86px;

  @include desktop {
    margin-top: -150px;

  }
}  

.about__me-foto{
  width: 24vw;
  height: 25vw;
  background-image: url("img/foto.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  
  @include desktop {
    width: 45vw;
    height: 50vw;
    padding: 10px;
  }

  @include tablets {
    width: 85vw;
    height: 90vw;
    margin: 30px 30px 50px 30px;
  }
}

.skills{
  width: 100%;
  text-align: center;
  margin-top: 25px;
}  

.text{
    margin: 30px 30px 20px 30px;
    text-align: left;
}

.frontend_items{

    @include desktop {
    text-align: center;
  }
}
.frontend_item{
	display: inline-block;
	padding: 20px;
}

.frontend{
	padding-left: 30px;
  text-align: left;

  @include tablets {
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }
}

.g-circles {
  fill: none;
  stroke-width: 20;
  //stroke-dasharray: 150 283;
  
}
.sector {
    stroke-dasharray: 0 722;
    transition: all 1s;
}

.g-circles:hover .sector {
   stroke-dasharray: 150 283;
}
