html {
	font-size: 16px;

	@include desktop {
		font-size: 16px;
	}

	@include laptop {
		font-size: 15px;
	}

	@include tablets {
		font-size: 14px;
	}

	@include phones {
		font-size: 13px;
	}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	width: 100%;
	position: relative;
}

body {
	font-family: $body-font;
	-webkit-font-smoothing: antialiased;
	line-height: 1.42;
	background: #efeee9;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	flex: 1 0 auto;
	margin: 0 auto;
}

.wrapper:after {
	content: "";
	height: $footer-height;
	display: block;
}

.container {
	margin: 0 auto;
	
	@include desktop{
		max-width: 1160px;
	}

	@include laptop{
		max-width: 952px;
	}

	@include tablets{
		max-width: 728px;
	}

	@include phones{
		max-width: 440px;
	}
}



.title1, .title2, .title3, .title4{
    
    &:before {
    content: "";
    width: 22px;
    height: 5px;
    background: #000;
    opacity: 0.2;
    position: absolute;
    left: -45px;
    top: 50%;
  }

    &:after {
    content: "";
    width: 22px;
    height: 5px;
    background: #000;
    opacity: 0.2;
    position: absolute;
    right: -40px;
    top: 50%;
  }

  @include tablets {
    margin-bottom: 50px;
  }
}

.title1, .title2, {
	font-weight: normal;
	margin: 0;
	text-align: center;
	line-height: 1;

	
}

h1, .title1{
	font-family: 'bernier_regularregular';
	font-size: 63px;
	color: $black;
}

h2, .title2{
	font-family: 'bernier_regularregular';
	font-size: 35px;
	color: $marengo;
}

h3{
	font-family: 'robotomedium';
	font-size: 28px;
	font-weight: normal;
	margin: 0;
	color: $marengo;
}

p{
	font-family: 'robotoregular';
	font-size: 16px;
	margin-top: 0;
	color: $marengo;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrap-title2{
  text-align: center;
    position: relative;
    display: inline-block;
    max-width: 270px;

}

.wrap-title1{
	text-align: center;
  position: relative;
  display: inline-block;
  max-width: 300px;
  
}