footer{
	height: $footer-height;
	background-color: $black;
	margin-top: -$footer-height;
	opacity: .8;

	@include tablets{
		height: 250px;
	}

}

.footer__up{	
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	@include tablets {
    display: flex;
    flex-flow: column wrap;
  	justify-content: center;
  	text-align: center;
    padding-bottom: 20px;
  }
}

.navigation-list{

	@include tablets {
    width: 100%;
    text-align: center;
    padding: 0 20%;
  }
}
.navigation-item{
	font-size: 16px;
	float: left;
	@extend %clearfix;
	padding: 20px;
	font-family: 'robotomedium';

}

.navigation-link{
	text-decoration: none;
	color: #fff;

	&:hover{
		color: $blue;
	}
}

.copyright {
	line-height: 16px;
	color: #d7dada;
	position: absolute;
	left: 0;
	top: 18px;
}

.icons{
	text-align: right;
	padding-top: 20px;

	@include tablets {
    width: 100%;
    text-align: center;
  }
}


.footer__text {
  color: #fff;
  font-size: 16px;
  opacity: .5;
  padding-top: 6px;
}

.footer__text-left {
	text-align: left;
    width: 50%;
    display: inline-block;

    @include laptop, tablets{
    	width: 100%;
    	text-align: center;
    	margin-bottom: 20px;
    }
}

.footer__text-right{
	text-align: right;
    width: 50%;
    display: inline-block;
    float: right;
    @extend %clearfix;

    @include laptop, tablets{
    	width: 100%;
    	text-align: center;
    }
}