footer{
	height: $footer-height;
	background-color: $black;
	margin-top: -$footer-height;
	opacity: .8;

	@include tablets{
		height: 250px;
    margin-top: -250px;
    background-color: #384246;
    opacity: .99;
	}

}

.footer__up{	
  padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	@include tablets {
    display: flex;
    flex-flow: column wrap;
  	justify-content: center;
  	text-align: center;
  }
}

.navigation{

  @include tablets {
    margin: 0 auto;
  }
}

.navigation-item{
	font-size: 16px;
	float: left;
	@extend %clearfix;
	padding: 20px;
	font-family: 'robotomedium';

}

.navigation-link{
	text-decoration: none;
	color: #fff;

	&:hover{
		color: $blue;
	}
}

.copyright {
	line-height: 16px;
	color: #d7dada;
	position: absolute;
	left: 0;
	top: 18px;
}

.icons{
	text-align: right;
	padding-top: 20px;

	@include tablets {
    width: 100%;
    text-align: center;
  }
}

.footer{
  padding: 0 20px;
}

.footer__text {
  color: #fff;
  font-size: 16px;
  opacity: .5;
  padding-top: 6px;
}

.footer__text-left {
	text-align: left;
  width: 50%;
  display: inline-block;

    @include tablets{
    	width: 100%;
    	text-align: center;
    	margin-bottom: 20px;
    }
}

.footer__text-right{
	text-align: right;
    width: 50%;
    display: inline-block;
    float: right;
    @extend %clearfix;

    @include tablets{
    	width: 100%;
    	text-align: center;
    }
}