@import 'mixins';

.container {
	position: relative;
	max-width: 1920px;
	
}

.header{
	height: 600px;
	background-image: url("img/bg_about.png");
	background-position: center;
	background-size: cover;
}

.bg__header{
	position: absolute;
    margin: 5% 0 0 20%;
}

.header__items {
	padding: 30px 30px 0 30px;
	margin-bottom: 60px;
}


.user{
	text-align: center;
    left: 0;
    vertical-align: middle;
    margin-bottom: 130px;    
}
.user__avatar{
	@include inlineblock(middle);
	height: 143px;
	width: 143px;
	background-color:#fff;
	@include border-radius(50%);
	overflow: hidden;
	margin-bottom: 20px;
	background-image: url("img/ava.jpg");
	background-size: cover;

}

.user__avatar-pic {
	display: block;
}

.user__info-name{
	font-size: 35px;
	color: #fff;
	font-family: 'robotomedium';

}

.user__info-custom{
	font-size: 16px;
	color: #fff;

}

.arrow__down{
	text-align: center;
}

.user__name {
	@include inlineblock(middle);
	max-width: rem(250px);
}

.triangle{
	height: 160px;
	margin-top: -94px;
}

.triangle__left{
	width: 0;
height: 0;
border-style: solid;
border-width: 160px 0 0 960px;
border-color: transparent transparent transparent #efeee9;
float: left;
@extend %clearfix;

}

.triangle__right{
	width: 0;
height: 0;
border-style: solid;
border-width: 0 0 160px 960px;
border-color: transparent transparent #efeee9 transparent;
margin-left: 50%;

}






