.map{
	height: 690px;
	background-image: url(img/map.png);
	background-position: center;
	background-size: cover;
		
}

.contacts{
	width: 380px;
    position: absolute;
    left: 50%;
    margin-top: 250px;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #e5f7f4;
    opacity: .7;
    border-radius: 3%;
    padding: 20px 0px 0px 0px;
       
}
.contacts-text{
	margin-left: 50px;

}

.contants_content{
	padding: 30px 0 30px 45px;
	text-align: left;
}

.cnt-icon{
	width: 30px;
	height: 30px;
}

.cnt-text{
	margin-left: 20px;
	color: $black;
	
	&:hover{
		color: $blue;
	}
}

.cnt{
	display: flex;
	flex-flow: row nowrap;
	text-decoration: none;
	padding: 20px 0;

}

