
.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 37px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  color: #fff;
  
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(10px) translateX(0) rotate(45deg);
      background: #fff;
    }
    .middle {
      opacity: 0;
      background: #fff;
    }
    
    .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: #fff;
    }
  }
  
  span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
  border-radius: 16%;
    
    &:nth-of-type(2) {
      top: 10px;
    }
    
    &:nth-of-type(3) {
      top: 20px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
  
  &:before {
    content: '';
    background: $green;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left .35s ease;
  }
  
  &:after {
    content: '';
    background: $green;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .35s ease;
  }
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    &:before {
      left: 0;
    }
    
    &:after {
      right: 0;
    }
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .45s;
      }
      &:nth-of-type(3) {
        animation-delay: .55s;
      }
      &:nth-of-type(4) {
        animation-delay: .65s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    z-index: 100;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #fff;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}