.reviews{
  height: 1140px;
  background-image: url("img/bg_works2.png");
  background-size: cover;

  @include phones{
      display: flex;
      flex-flow: column wrap;
      height: 1550px;
  }
}

.reviews__title{
  text-align: center;
  background: url("sprite/about_header.svg") center no-repeat;
  padding: 20px 0;
  margin-bottom: 50px;

    @include phones{
      width: 100%;
  }
}

.fontawesome-quote-left{
  color: $grey;
  font-size: 35px;

  @include phones{
      font-size: 100px;
    

  }
}
.reviews__content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 50px;

  @include phones{
      display: flex;
      flex-flow: column wrap;
      margin: 0 auto 50px;

  }
  }

.reviews-left, .reviews-right{
  max-width: 400px;
  margin: 0 10px;
}

.review{
  margin-bottom: 25px;


  @include phones{
    margin-left: 65px;
    margin-top: -60px;
                
  }
}
.review__author{
  display: flex;
  flex-flow: row nowrap;
  margin-left: 10px;
  margin-bottom: 55px;

  @include phones{
      margin-left: 45px;

  }
}

.review__author-img{
  @include inlineblock(middle);
  height: 80px;
  width: 80px;
  background-color:#fff;
  @include border-radius(50%);
  overflow: hidden;
  
}

.review__author-text{
  margin: 20px 0 0 30px;

    p {color: $green;
    }
}

.contact__form__wrapper{
  width: 380px;
  height: 433px;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
  position: relative;

  @include phones{
    width: 390px;
    height: 442px;

  }
}

.contact__form-blur{
  width: 100%;
  height: 100%;
  background: url("img/bg_works.png") center no-repeat;
  filter: blur(20px);
  background-size: 1800px;
  background-position: -723px -267px;

  @include laptop{
    background-size: 1373px;
  background-position: -263px -467px;

  }
  @include tablets{
        background-position: -210px -457px;
    background-size: 1251px;

  }

  @include phones{
        background-position: -210px -457px;
    background-size: 1251px;

  }
}

.contact__form{
  width: 380px;
  height: 411px;
  margin: -411px auto;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  text-align: center;

  @include phones{
    width: 390px;
    height: 442px;

  }
}

.contacts__btn{
  margin: 0 auto;
}
/* Стили формы */
#application {
    width: 340px;
    margin: 0 auto;
}
 
/*Стили полей для ввода*/
#applicationName, #applicationEmail{
    width: 94%;
    height: 50px;
    background-color: #fff;
    margin-top: 25px;
    border: 1px solid #fff;
    @include border-radius(5%)
    color: $black;
    padding-left: 25px;
}

textarea{
  width: 94%;
    height: 106px;
    background-color: #fff;
    margin: 25px 0 15px 0;
    padding: 20px 0 0 25px;
    border: 1px solid #fff;
    @include border-radius(5%)
    color: $black;
}  
