extends ../_template

block variables
  - var title = 'Blog'

block content
   header.header-blog
    .container
          img.bg__header-blog(src='assets/css/sprite/blog_header.svg', alt='')
          .container
            .header__items-blog
              .header__left
                include ../common/_socials
              .header__right
                .menu__close
                  include ../common/_menu
            .user__blog
              .user__avatar
                .user__avatar-pic
                  img.user__avatar-img(src='assets/css/img/ava.jpg', alt='')
              .user__info
                .wrap-title1 
                  .title1 
                    .title1-blog БЛОГ
                .user__info-custom
                  p.user__info-custom Статьи, которые я написалa                       
          .triangle
            .triangle__left
            .triangle__right
   include ../common/_blog
   include ../common/_footer