doctype html
html
  head
    meta(charset='utf-8')
    title About
    meta(content='', name='author')
    meta(content='', name='description')
    meta(content='', name='keywords')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='ie=edge', http-equiv='x-ua-compatible')
    link(rel='stylesheet', href='assets/css/foundation.css')
    link(rel='stylesheet', href='assets/css/app.css')
    link(rel='stylesheet', href='assets/fonts/*.*')
    script(src='assets/js/foundation.js', defer='')
    script(src='assets/js/app.js', defer='')
    //
      if lt IE 9script(src='http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
  body
    .wrapper
      .content
        header.header
          img.bg__header(src='assets/css/sprite/portfolio_header.svg', alt='')
          .container
            .header__items
              .header__left
                .socials
                  ul.socials__list-header
                    li.socials__item
                      a.socials__link(href='https://vk.com/kbicbka')
                        img.socials__icon-vk(src='assets/css/sprite/vk.svg', alt='')
                    li.socials__item
                      a.socials__link(href='https://github.com/yuliabeckaya')
                        img.socials__icon-github(src='assets/css/sprite/github.svg', alt='')
                    li.socials__item
                      a.socials__link(href='https://ru.linkedin.com/')
                        img.socials__icon-in(src='assets/css/sprite/in.svg', alt='')
              .header__right
                .menu__close
                  a.menu__burger(href='menu.html')
                    img.socials__icon-hamburger(src='assets/css/sprite/hamburger.svg', alt='')
            .user
              .user__avatar
                .user__avatar-pic
                  img.user__avatar-img(src='assets/css/img/ava.jpg', alt='')
              .user__info
                .user__info-name Yulia Betskaya
                .user__info-custom
                  p Личный сайт веб-разработчика
            .arrow__down
              a(href='#')
                img(src='assets/css/sprite/arrow_down.svg', alt='')
          .triangle
            .triangle__left
            .triangle__right
        section
          .about
            .about__left
              .about__me
                .free__content__about__me
                  h1 ОБО МНЕ
              .about__item
                .full__content__about__me
                  .about__me-foto
                    //img(src='assets/img/foto.jpg', alt='')
                  h2 Кто я
                  .about__me-text
                    p
                      | Я веб разработчик из Санкт-Петербурга. Мне 33 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p
                      | Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .about__right
              .skills
                h2 Чем я могу быть вам полезна
                  .text
                    p Больше всего меня привлекает Frontend разработка, но я также знакома и могу решать несложные задачи на Backend. Но давайте по порядку.
                .frontend
                  h3 Frontend
                  ul.frontend__items
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
                  h3 Backend
                  ul.frontend__items
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
                  h3 WorkFlow
                  ul.frontend__items
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
                    li.frontend_item
                      svg.g-circles(width='120', height='120')
                        circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
                        circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
        section
          .map
            .contacts
              // iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2005.2658584528785!2d30.13930845236987!3d59.82811533832959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963bed7de4526d%3A0x8234013695a0f444!2z0YPQuy4g0JvRkdGC0YfQuNC60LAg0J_QuNC70Y7RgtC-0LLQsCwgNTAsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTgyNjQ!5e0!3m2!1sru!2sru!4v1480779497195', width='1920', height='930', frameborder='0', style='border:0', allowfullscreen='')
              h2 Контакты
              .contants_content
                .cnt
                  .cnt-icon
                    span.fontawesome-user
                  p.cnt-text skype
                .cnt
                  .cnt-icon
                    span.fontawesome-user
                  p.cnt-text yuliabeckaya@gmail.com
                .cnt
                  .cnt-icon
                    span.fontawesome-user
                  p.cnt-text +79217811547
                .cnt
                  .cnt-icon
                    span.fontawesome-user
                  p.cnt-text г.Санкт-Петербург, ул. Летчика Пилютова, д. 50к4
    footer
      .container
        .footer__up
          .navigation
            ul.navigation-list
              li.navigation-item
                a.navigation-link(href='works.html') Мои работы
              li.navigation-item
                a.navigation-link(href='homepage.html') Обо мне
              li.navigation-item
                a.navigation-link(href='blog.html') Блог
              li.navigation-item
                a.navigation-link(href='author.html') Авторизация	
          .icons 
            include ../common/_socials
        .footer
          .footer__text
            .footer__text-left
              p
                | Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .footer__text-right
              p © Юлия Бецкая | создано с любовью в LoftSchool | 2016 			
