extends ../_template

block variables
	- var title = 'Works'

block content
	.wrapper
		.content
			include ../common/_header
			include ../common/_works
			include ../common/_reviews
	include ../common/_footer